SrtsWeb-Development/SrtsWeb-Development-1.1.4.0-iAS/SrtsWebNet/BusinessLayer/Service References/BmtSrDev/BmtWs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SrtsWebServices.Entities.BMT" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SrtsWebServices.Entities.BMT" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBmtServiceEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BmtServiceEntity" nillable="true" type="tns:BmtServiceEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBmtServiceEntity" nillable="true" type="tns:ArrayOfBmtServiceEntity" />
  <xs:complexType name="BmtServiceEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNumberType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BmtServiceEntity" nillable="true" type="tns:BmtServiceEntity" />
  <xs:complexType name="BmtResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="FailedToAdd" nillable="true" type="tns:ArrayOfBmtServiceEntity" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="TraineesAdded" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BmtResponse" nillable="true" type="tns:BmtResponse" />
</xs:schema>